*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
}
