.bottom-panel {
  display: flex;
  height: 30vh;

  &__chat-panel {
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    background-image: linear-gradient(to right, rgba($color-dark-blue, 0.8), rgba($color-light-blue, 0.8));

    &__chat {
      height: 80%;
      padding: 2rem;
      padding-bottom: 1rem;

      &__messages {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        height: 100%;
        font-size: $default-font-size;
        padding: 1rem;
        background-color: #eee;
        overflow: auto;
      }
    }

    &__typing-area {
      height: 20%;
      padding: 2rem;
      padding-top: 1rem;
      display: flex;

      &__input {
        flex-grow: 1;
        margin-right: 1rem;
        border: 1px solid rgba(#777, 0.2);
        padding: 1rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
        font-size: $default-font-size;
        background-color: #eee;
      }

      &__button {
        display: inline-block;
        padding: 1rem 2rem;
        border: none;
        cursor: pointer;
        background-color: $color-dark-blue;
        color: white;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
        transition: all 0.2s;
        font-size: $default-font-size;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    &__life--user {
      position: absolute;
      background-color: antiquewhite;
      top: -10rem;
      height: 10rem;
      width: 10rem;
    }

    &__life--enemy {
      position: absolute;
      background-color: antiquewhite;
      top: -10rem;
      right: 0;
      height: 10rem;
      width: 10rem;
    }
  }

  &__keyboard {
    width: 25%;
    background-color: rgba($color-dark-blue, 0.8);
    display: flex;
    align-items: center;

    &__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: center;

      &__letter {
        border: none;
        font-size: 4rem;
        list-style: none;
        color: $color-grey-dark-3;
        box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
        margin-right: 1rem;
        width: 5rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 1rem;
        background-color: #eee;
        transition: all 0.2s;

        &:hover {
          transform: scale(1.2) translateY(-1rem);
          background-color: black;
          color: white;
        }
      }
    }
  }
}
