.header {
  display: flex;
  height: 10vh;
  background-color: #eee;

  &__left {
    width: 30%;
    background-image: linear-gradient(to right, rgba($color-dark-blue, 0.8), rgba($color-light-blue, 0.2));
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    padding: 2rem;
    transition: all 0.2s;
    cursor: pointer;

    &__text {
      font-size: 3.5rem;
      text-transform: uppercase;
      transform: rotate(-11deg);
      margin-left: 10rem;
      margin-top: -3rem;
      color: white;
      transition: all 0.2s;
    }

    &:hover &__text {
      transform: rotate(0);
    }
  }

  &__right {
    width: 30%;
    background-image: linear-gradient(to left, rgba($color-dark-blue, 0.8), rgba($color-light-blue, 0.2));
    padding: 3rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    transition: all 0.2s;
    cursor: pointer;

    &__text {
      font-size: 3.5rem;
      text-transform: uppercase;
      text-align: right;
      margin-top: -3.5rem;
      margin-right: 8rem;
      transform: rotate(11deg);
      color: white;
      transition: all 0.2s;
    }

    &:hover &__text {
      transform: rotate(0);
    }
  }

  &__title {
    width: 40%;
    background-color: rgba($color-dark-blue, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
      font-size: 5rem;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }
  }
}
