$color-grey-main: #e0e0e2;
$color-turqoise: #81d2c7;
$color-light-blue: #b5bad0;
$color-mid-blue: #7389ae;
$color-dark-blue: #416788;

$color-primary: #a48570;
$color-primary-light: #fdf1d4;
$color-primary-dark: #6d5844;

$color-secondary-light: #46c2c4;
$color-secondary-dark: #557379;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$default-font-size: 1.6rem;
