*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }

.login-container {
  background: #416788;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-container__box {
    box-shadow: 0 0 1.6rem 0.5rem rgba(0, 0, 0, 0.4);
    background-color: #eee;
    padding: 2.5rem;
    width: 30%; }
  .login-container__header {
    margin-bottom: 2.5rem;
    line-height: 2;
    font-size: 5rem;
    text-align: center; }
  .login-container__form__label {
    display: block;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #777; }
  .login-container__form__input {
    margin-bottom: 2.5rem;
    width: 100%;
    border: 1px solid #eee;
    padding: 1.2rem;
    outline: none;
    font-size: 2rem; }
    .login-container__form__input > option {
      font-size: 1.8rem; }
  .login-container__form__button {
    width: 100%;
    cursor: pointer;
    padding: 1.2rem;
    background-color: #416788;
    color: white;
    font-size: 2rem;
    transition: all 0.2s; }

.header {
  display: flex;
  height: 10vh; }
  .header__left {
    width: 30%;
    background-color: rgba(65, 103, 136, 0.8);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
    padding: 2rem;
    transition: all 0.2s;
    cursor: pointer; }
    .header__left__text {
      font-size: 3.5rem;
      text-transform: uppercase;
      transform: rotate(-11deg);
      margin-left: 10rem;
      margin-top: -3rem;
      color: white;
      transition: all 0.2s; }
    .header__left:hover .header__left__text {
      transform: rotate(0); }
  .header__right {
    width: 30%;
    background-color: rgba(65, 103, 136, 0.8);
    padding: 3rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    transition: all 0.2s;
    cursor: pointer; }
    .header__right__text {
      font-size: 3.5rem;
      text-transform: uppercase;
      text-align: right;
      margin-top: -3.5rem;
      margin-right: 8rem;
      transform: rotate(11deg);
      color: white;
      transition: all 0.2s; }
    .header__right:hover .header__right__text {
      transform: rotate(0); }
  .header__title {
    width: 40%;
    background-color: rgba(65, 103, 136, 0.8);
    display: flex;
    justify-content: center;
    align-items: center; }
    .header__title__text {
      font-size: 5rem;
      text-transform: uppercase;
      text-align: center;
      color: white; }

.hacky-fix {
  position: absolute;
  width: 30%;
  height: 10vh;
  right: 0;
  clip-path: polygon(0 0, 100% 100%, 0 100%); }

.game {
  height: 60vh;
  display: flex; }
  .game__player {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 5px solid gray;
    padding: 2rem;
    position: relative; }
    .game__player__alert {
      position: absolute;
      font-size: 5rem;
      bottom: 4rem;
      font-weight: 300;
      text-transform: uppercase;
      color: red;
      text-align: center;
      display: none; }
    .game__player__cross {
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 6px;
      box-shadow: 2px 2px 4px 0 white;
      top: 4rem;
      display: none; }
      .game__player__cross:before, .game__player__cross:after {
        content: "";
        position: absolute;
        box-shadow: 0 0 2px 0 #ccc; }
      .game__player__cross:before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
        left: -5rem;
        width: 15rem;
        height: 4px;
        top: 2rem;
        background-color: red;
        border-radius: 2px; }
      .game__player__cross:after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
        right: -5rem;
        width: 15rem;
        height: 4px;
        top: 2rem;
        background-color: red;
        border-radius: 2px; }
    .game__player__title {
      position: absolute;
      font-size: 6rem;
      top: 2rem;
      font-weight: 300;
      text-transform: uppercase; }
    .game__player__hangman {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .game__player__letters {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem; }
      .game__player__letters__letter {
        border: none;
        font-size: 5rem;
        list-style: none;
        border: 1px solid rgba(119, 119, 119, 0.4);
        color: #333;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
        margin-right: 1rem;
        height: 6rem;
        width: 6rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        transition: all 0.2s; }
        .game__player__letters__letter:hover {
          transform: scale(1.1) translateY(-1rem); }
  .game__opponent {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative; }
    .game__opponent__alert {
      position: absolute;
      font-size: 5rem;
      bottom: 12rem;
      font-weight: 300;
      text-transform: uppercase;
      color: red;
      text-align: center;
      display: none; }
    .game__opponent__title {
      position: absolute;
      font-size: 6rem;
      top: 2rem;
      font-weight: 300;
      text-transform: uppercase; }
    .game__opponent__hangman {
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem; }
    .game__opponent__letters {
      width: 70%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      .game__opponent__letters__letter {
        border: none;
        font-size: 5rem;
        list-style: none;
        border: 1px solid rgba(119, 119, 119, 0.4);
        color: #333;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
        margin-right: 1rem;
        height: 6rem;
        width: 6rem;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        transition: all 0.2s; }
        .game__opponent__letters__letter:hover {
          transform: scale(1.1) translateY(-1rem); }

.bottom-panel {
  display: flex;
  height: 30vh; }
  .bottom-panel__chat-panel {
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    background-color: rgba(65, 103, 136, 0.8); }
    .bottom-panel__chat-panel__chat {
      height: 80%;
      padding: 2rem;
      padding-bottom: 1rem; }
      .bottom-panel__chat-panel__chat__messages {
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
        height: 100%;
        font-size: 1.6rem;
        padding: 1rem;
        overflow: auto;
        background-color: white; }
    .bottom-panel__chat-panel__typing-area {
      height: 20%;
      padding: 2rem;
      padding-top: 1rem;
      display: flex; }
      .bottom-panel__chat-panel__typing-area__input {
        flex-grow: 1;
        margin-right: 1rem;
        border: 1px solid rgba(119, 119, 119, 0.2);
        padding: 1rem;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
        font-size: 1.6rem; }
      .bottom-panel__chat-panel__typing-area__button {
        display: inline-block;
        padding: 1rem 2rem;
        border: none;
        cursor: pointer;
        background-color: #416788;
        color: white;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
        transition: all 0.2s;
        font-size: 1.6rem; }
        .bottom-panel__chat-panel__typing-area__button:hover {
          transform: scale(1.1); }
    .bottom-panel__chat-panel__life--user {
      position: absolute;
      background-color: antiquewhite;
      top: -10rem;
      height: 10rem;
      width: 10rem; }
    .bottom-panel__chat-panel__life--enemy {
      position: absolute;
      background-color: antiquewhite;
      top: -10rem;
      right: 0;
      height: 10rem;
      width: 10rem; }
  .bottom-panel__keyboard {
    width: 25%;
    background-color: rgba(65, 103, 136, 0.8);
    display: flex;
    align-items: center; }
    .bottom-panel__keyboard__list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 2rem;
      justify-content: center; }
      .bottom-panel__keyboard__list__letter {
        border: none;
        font-size: 4rem;
        list-style: none;
        color: #333;
        box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
        margin-right: 1rem;
        width: 5rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.2s;
        background-color: white; }
        .bottom-panel__keyboard__list__letter:hover {
          transform: scale(1.2) translateY(-1rem);
          background-color: black;
          color: white; }
